.header {
  margin: 15px;
}

.navItems {
  text-align: center;
  margin: 10px;
}

.item {
  justify-content: center;
  text-align: center;
  margin: 10px;
}

/* .logo {
  margin-left: auto;
  margin-right: none;
  width: 20em;
} */
